<!DOCTYPE html>
<html>

<head>
    <title>GW2 Name Generator</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script src="https://kit.fontawesome.com/2094f8a559.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="main">
        <div class="is-fullwidth columns has-background-grey-darker is-fullheight">
            <div class="column is-one-fifth"></div>
            <div class="column is-three-fifths">
                <div class="panel is-success has-background-grey-lighter">
                    <div class="panel-heading"><img src="https://render.guildwars2.com/file/94ED0C4A49295657095EF5D09CC8C4E6709E6FCA/961368.png" alt="">&nbsp;Guild Wars 2 Name Generator</div>
                    <div class="panel-block blocky">
                        <section class="message has-background-white is-fullwidth">
                            <div class="message-body">
                                <div class="notification has-text-weight-bold">
                                    Pick a race!
                                </div>
                                <hr>
                                <div class="race-btn has-text-centered" v-for='(race,i) in races'>
                                    <i class="fa fa-arrow-down is-size-3" v-if='selectedRace==i'></i><br>
                                    <button v-on:click='selectedRace = i;nameList=[]' class="button" v-bind:class='race.class'>
                                        <img v-bind:src="'./img/races/'+race.name+'.png'" /><br>
                                        <div>{{race.name}}</div>
                                    </button>
                                </div>
                            </div>
                        </section>
                        <section class="message has-background-white is-fullwidth" v-if='selectedRace==-1'>
                            <div class="message-body is-italic"><i class="fa fa-times is-size-3 has-text-danger"></i>&nbsp;Select a name first!

                            </div>
                        </section>
                        <section class="message has-background-white is-fullwidth" v-if='selectedRace!==-1'>
                            <div class="message-body">
                                <div class="notification has-text-weight-bold">
                                    How many {{races[selectedRace].name}} names would you like?
                                </div>
                                <hr>
                                <div class="control">
                                    Number of names: <input type="range" class="range" min='1' max='500' v-model='numNames' style='width:50%'> {{numNames}} name<span v-if='numNames!==1'>s</span>
                                </div>
                            </div>
                        </section>
                        <section class="message has-background-white is-fullwidth" v-if='selectedRace!==-1'>
                            <div class="message-body">
                                <div class="notification has-text-weight-bold">
                                    Get your names!
                                </div>
                                <hr>
                                <div class="is-fullwidth has-text-centered">
                                    <button class="button is-large is-link" v-bind:class='races[selectedRace].class' v-on:click='getNames()'>
                                        <i class="fa fa-check"></i>&nbsp;Get {{races[selectedRace].name }} Names!
                                    </button>
                                </div>
                            </div>
                        </section>
                        <section class="message has-background-white is-fullwidth" v-if='selectedRace!==-1 && nameList.length'>
                            <div class="message-body">
                                <div class="notification has-text-weight-bold">
                                    Your names:
                                </div>
                                <hr>
                                <table class="table is-striped is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for='name in nameList'>
                                            <td>
                                                <span v-if='!name.notes.isWord'>
                                                    {{name.title?name.title+' ':''}}{{name.name}}
                                                </span>
                                                <span v-if='!!name.notes.isWord'>
                                                    <a v-bind:href="'https://en.wiktionary.org/wiki/'+name.name.toLowerCase()" target="_blank">{{name.name}}</a>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="is-fullwidth" v-if='name.notes.isWord' v-bind:title='"This name is a real word in some language! Click the name to check the Wiktionary link."'>
                                                    <i class="fa fa-exclamation-triangle"></i>&nbsp;
                                                </span>
                                                <span class="is-fullwidth has-text-info" v-if='name.notes.gender && name.notes.gender=="male"'  v-bind:title='"This name is probably a male name."'>
                                                    <!-- This name is a {{name.notes.gender}} name! -->
                                                    <i class="fa fa-mars"></i>&nbsp;
                                                </span>
                                                <span class="is-fullwidth has-text-danger" v-if='name.notes.gender && name.notes.gender=="female"' v-bind:title='"This name is probably a female name."'>
                                                    <!-- This name is a {{name.notes.gender}} name! -->
                                                    <i class="fa fa-venus"></i>&nbsp;
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='working' v-if='working'>Working!</div>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script src='./js/all.min.js'></script>
</body>

</html>